@page "{name}/{version?}"
@model Notino.Charts.Web.Pages.Charts.DetailModel
@{
    ViewData["Title"] = Model.Chart.Name;
}

@if (Model.Release.Icon != null)
{
    <img alt="logo" src="@Model.Release.Icon" class="rounded float-left" style="width: 100px; height: 100px;" />
}
@if (Model.Release.Home != null)
{
    <a href="@Model.Release.Home" class="float-right">@Model.Release.Home</a>
}

<h1 class="display-3">@Model.Chart.Name</h1>
<hr />

<p>@Model.Release.Description</p>

<div class="row">
    <div class="col-sm-8">
        @Html.Raw(Model.Readme)
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Chart Versions</h5>
                <ul class="list-unstyled">
                    @foreach (var release in Model.Chart.Releases)
                    {
                        if (Model.Release.Version == release.Version)
                        {
                            <li><strong><a asp-page="/Charts/Detail" asp-route-name="@Model.Chart.Name" asp-route-version="@release.Version.ToString()">@release.Version.ToString()</a></strong></li>
                        }
                        else
                        {
                            <li><a asp-page="/Charts/Detail" asp-route-name="@Model.Chart.Name" asp-route-version="@release.Version.ToString()">@release.Version.ToString()</a></li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
