@page
@model Notino.Charts.Web.Pages.Charts.IndexModel
@{
    ViewData["Title"] = "Charts";
}

<h1 class="display-3">Charts</h1>

<div class="row">
    @foreach (var chart in Model.Charts)
    {
        <div class="card shadow" style="width: 18rem;">
            <h4 class="card-header">
                <a asp-page="/Charts/Detail" asp-route-name="@chart.Name">@chart.Name</a>
            </h4>
            <div class="card-body">
                <p class="card-text">@chart.Description</p>
                <a asp-page="/Releases/Install" asp-route-chart="@chart.Name" class="btn btn-primary">Install</a>
            </div>
            <div class="card-footer text-muted">
                @chart.GetLastRelease().Version.ToString()
            </div>
        </div>
    }
</div>

