@page
@model Notino.Charts.Web.Pages.Releases.IndexModel
@{
    ViewData["Title"] = "Releases";
}

<h1 class="display-3">Releases</h1>

<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th scope="col">Name</th>
                <th scope="col">Chart</th>
                <th scope="col">Cluster</th>
                <th scope="col">Revision</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var release in Model.Releases)
            {
                <tr>
                    <td class="align-middle" style="width: 140px; white-space: nowrap;">
                        <a asp-page="/Releases/Details" asp-route-name="@release.Name" asp-route-context="@release.Cluster" class="btn btn-sm btn-primary">Details</a>
                        <a asp-page="/Releases/Delete" asp-route-name="@release.Name" asp-route-context="@release.Cluster" class="btn btn-sm btn-danger">Delete</a>
                    </td>
                    <td class="align-middle">@release.Name</td>
                    <td class="align-middle">@release.Chart.Name</td>
                    <td class="align-middle">@release.Cluster</td>
                    <td class="align-middle">@release.Revision</td>
                    <td class="align-middle">@release.Status</td>
                </tr>
            }
        </tbody>
    </table>
</div>